.app-add-tweet {
    padding: 15px;
    border: 1px solid rgb(239, 243, 244);
}

.tweet-button {
    background-color: rgb(29, 155, 240);
    color: white !important;
    width: auto !important;
    border-radius: 20px !important;
}

.tweet-button:disabled,
.tweet-button[disabled] {
    opacity: 0.5;
}

.tweet-text,
.tweet-text:focus {
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
}