<div class="container">


    <div class="container">
        <div class="row">
            <div class="col-sm-3 column">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <div class="twitter-icon-container-parent">
                            <mat-icon class="twitter-icon" svgIcon="twitter"></mat-icon>
                        </div>
                        <span class="example-spacer"></span>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div class="col-sm-6 column">
                <app-add-tweet></app-add-tweet>
                <app-tweet [@simpleFadeAnimation]="'in'" *ngFor="let tweet of tweets" [text]="tweet['text']" [id]="tweet['id']" [owner]="tweet['owner']" [publishedAt]="tweet['publishedAt']" [retweets]="tweet['retweets']" [likes]="tweet['likes']">
                </app-tweet>
                <app-end-of-page></app-end-of-page>
            </div>
            <div class="col-sm-3 column">
                <div *ngIf="!isSignedIn()">
                    <button mat-raised-button color="accent" class="signin-button" (click)="signIn()" matTooltip="To tweet, retweet, like, update or delete your existing tweets" aria-label="Sign in to tweet, retweet, like, update or delete your existing tweets">Sign In</button>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>