.example-spacer {
    flex: 1 1 auto;
}

.twitter-icon {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    padding: 10px;
}

.twitter-icon-container-parent {
    border-radius: 30px;
    width: 60px !important;
    height: 60px !important;
    overflow: hidden;
    position: relative;
}

.twitter-icon-container-parent :hover {
    background-color: rgb(29, 155, 240, 0.1);
}

.column {
    padding-top: 4px;
}

mat-toolbar {
    background-color: transparent;
}