<div class="app-tweet">

    <p class="tweet-header"><a href="#" class="tweet-header">@{{owner}}</a> .
        <span>{{publishedSince}}</span> &nbsp;
    </p>
    <input type="text" style="display: none;" value="{{ id }}">
    <div>
        <span [innerHtml]="format(text)"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <mat-icon class="twitter-icon highlight highlight-blue" svgIcon="comment"></mat-icon>
            </div>
            <div class="col-sm" (click)="retweet()">
                <span *ngIf="!isRetweeted()">
                    <mat-icon class="twitter-icon highlight highlight-green" svgIcon="retweet"></mat-icon>{{ retweets.length == 0 ? '' : retweets.length }}
                </span>
                <span *ngIf="isRetweeted()" style="color: rgb(0, 186, 124);">
                    <mat-icon class="twitter-icon highlight highlight-green" svgIcon="retweeted"></mat-icon>{{ retweets.length == 0 ? '' : retweets.length }}
                </span>
            </div>
            <div class="col-sm" (click)="like()">
                <span *ngIf="!isLiked()">
                <mat-icon class="twitter-icon highlight highlight-pink" svgIcon="like"></mat-icon>{{ likes.length == 0 ? '' : likes.length }}
            </span>
                <span *ngIf="isLiked()" style="color: rgb(249, 24, 128);">
                <mat-icon class="twitter-icon highlight highlight-pink" svgIcon="liked"></mat-icon>{{  likes.length == 0 ? '' : likes.length  }}
            </span>
            </div>
            <div class="col-sm">
                <mat-icon class="twitter-icon highlight highlight-blue" svgIcon="share"></mat-icon>
            </div>
            <div *ngIf="isOwner()" class="col-sm">
                <mat-icon class="twitter-icon highlight highlight-yellow" svgIcon="edit"></mat-icon>
            </div>
            <div *ngIf="isOwner()" class="col-sm">
                <mat-icon class="twitter-icon highlight highlight-red" svgIcon="delete"></mat-icon>
            </div>
        </div>
    </div>

</div>